<div class="container">
    <div class="row">
      <h1 class="text-center word-list"><%= t :list_words %></h1>
      <aside class="col-lg-8">
        <%= render "search_form" %>
      </aside>
      <div class="col-lg-4 center"><%= render "search_words" %></div>
        <div id ="words_record">
        <%= render "list_words" %>
      </div>
  </div>
</div>
