<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:logo), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:home), root_path, class: "glyphicon glyphicon-home" %></li>
        <li><%= link_to t(:signin), "#", class: "glyphicon glyphicon-log-in" %></li>
        <li><%= link_to t(:signup), signup_path, class: "glyphicon glyphicon-user" %></li>
      </ul>
    </nav>
  </div>
</header>
